.add-text-stroke{
    position: absolute;
    -webkit-text-stroke: 3px green;
    font-size: 12em;
    animation: move 3s ease-in-out infinite;
}

 
@keyframes move{
    0%{
      transform: translateX(40%) rotate(45deg)
    }
    10%{
      transform: translateX(70%)
    }
    20%{
      transform: rotate(10deg)
  /*     transform: translateX(-30%) rotate(30deg) */
    }
    30%{
      transform: translateX(50%)
  /*     transform: translateX(30%) */
        
    }
    50%{
      transform: rotate(-30deg)
  /*     transform: translateX(30%) rotate(180deg) */
    }
    
    60%{
      transform: translateX(150%)
  /*     transform: translateX(50%) */
    }
    
    80%{
      transform: translateX(100%) rotate(180deg)
  /*     transform: translateX(10%) */
    }
    100%{
      transform: translateX(40%) rotate(45deg)
  /*     transform: translateY(90%) rotate(90deg) */
    }
  }

  
  @media (min-width: 768px) {
    
    @keyframes move{
        0%{
          transform: translateX(40%) rotate(45deg)
        }
        10%{
          transform: translateX(70%)
        }
        20%{
          transform: rotate(10deg)
      /*     transform: translateX(-30%) rotate(30deg) */
        }
        30%{
          transform: translateX(50%)
      /*     transform: translateX(30%) */
            
        }
        50%{
          transform: rotate(-30deg)
      /*     transform: translateX(30%) rotate(180deg) */
        }
        
        60%{
          transform: translateX(250%)
      /*     transform: translateX(50%) */
        }
        
        80%{
          transform: translateX(100%) rotate(180deg)
      /*     transform: translateX(10%) */
        }
        100%{
          transform: translateX(40%) rotate(45deg)
      /*     transform: translateY(90%) rotate(90deg) */
        }
      }


}